*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
/pokeemerald-*.png
src/data/map_group_count.h
tools/trainerproc/trainerproc
*.Identifier
*.smol
*.fastSmol
*.smolTM
__pycache__
poketransform-0.png
poketransform-1.png
poketransform-11.png
poketransform-10.png
poketransform-12.png
poketransform-14.png
poketransform-15.png
poketransform-16.png
poketransform-17.png
poketransform-18.png
poketransform-19.png
poketransform-2.png
poketransform-3.png
poketransform-4.png
poketransform-5.png
poketransform-6.png
poketransform-7.png
poketransform-8.png
poketransform-20.png
poketransform-21.png
poketransform-22.png
poketransform-23.png
poketransform-24.png
poketransform-13.png
poketransform-9.png
poketransform-25.png
poketransform-26.png
